{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {% if title %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if description %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block keywords %}
    {% if keywords %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
        <div  id="firstBlock" class="block4">
            <div class="block4inside">
                <!--iframe width="560" height="315" src="https://www.youtube.com/embed/L9fXfiZzMJk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                <div class="youtube" id="L9fXfiZzMJk" style="width: 100%; height: 315px;"></div>
                <h2>Наши преимущества как дистрибьютора СпецСинтез</h2>
                <p>Сотрудничая с нами Вы всегда можете рассчитывать на индивидуальный подход!</p>
                <div class="block-gray graygraygray"><img src="{% static 'img/1.png' %}"><span>Отсрочка платежа</span><br>От 7 до 45 дней</div>
                <div class="block-gray graygraygray"><img src="{% static 'img/4.png' %}"><span>Гарантия 100% качества</span><br>Поставляем только проверенную химию</div>
                <div class="block-gray graygraygray"><img src="{% static 'img/2.png' %}"><span>Срок поставки</span><br>От 1 дня</div>
                <div class="block-gray graygraygray"><img src="{% static 'img/5.png' %}"><span>Профессиональный подход</span><br>Подбираем средства под задачи предприятия</div>
                <div class="block-gray graygraygray"><img src="{% static 'img/3.png' %}"><span>Дозирущие устройства</span><br>Предоставляем в бесплатную аренду дозаторы</div>
                <div class="block-gray graygraygray"><img src="{% static 'img/6.png' %}"><span>Наличие товара</span><br>Постоянно в наличии во всех городах России</div>
            </div>
        </div>
    <div class="block-22">
	<div class="block-22-inside">

	<div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
	<div class="rightblock"></div>

	</div>

</div>
    </div>

    <p style="text-align: center">Информация на сайте не является публичной офертой.</p>
    <p style="text-align: center">Обращаем ваше внимание на то, что данный интернет-сайт, а также вся информация о товарах и ценах, предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.</p>
    <p style="text-align: center">Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджеру сайта с помощью специальной формы связи или по телефону 8-800-777-26-47.</p>


{% endblock %}