{% extends 'basic.html' %}
{% load static %}
{% load mytags %}
{% block title %}
    Корзина
{% endblock %}
{% block description %}
   Корзина - заказ товара
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
        {% if all_items_in_cart %}
            <div style="max-width: 1170px;margin: 40px auto">
                <div class="cart" >
                    <div class="cart-item"></div>
                    <div class="cart-item">Название</div>
                    <div class="cart-item no-border">Количество/Цена</div>


                    {% for i in all_items_in_cart %}

                        <div class="cart-item"><img style="width: 10vw" src="{{ i.item.image.url }}" alt=""></div>
                        <div class="cart-item"><div style="margin-top: 20%;">{{ i.item.name }}</div></div>
                        <div class="cart-item item no-border">
                            <div style="margin-bottom: 30px" class="price">
                                <div >
                                    <p>количество</p>
                                    <input data-name="{{ i.item.name }}" type="number" min="1" value="{{ i.number }}" onchange="calc()">
                                </div>


                                <div >
                                    <p>Объем</p>
                                    <select data-name="{{ i.item.name }}" onchange="calc()">
                                        {{ i.item.price | prices_select  |safe}}
                                    </select>
                                </div>
                                <div >
                                    <p>Итого</p>
                                    <span>0</span> руб
                                </div>

                            </div>
                            <a style=" background: #f00 ; padding: 10px 20px; border-radius: 20px;
                        color: white;text-decoration: none; font-size: 13px; width: 125px;
                        margin: 10px 0 0 0;" href="{% url 'remove' i.id %}">УДАЛИТЬ</a>
                        </div>

                    {% endfor %}
                    <div class="cart-item"></div>
                    <div class="cart-item"><strong>Итого</strong> </div>
                    <div class="cart-item no-border"><strong><span id="total"></span> руб</strong></div>


                </div>

            </div>
            <div class="forma-skidka2" style="width: auto !important;max-width: 1170px; margin: 0 auto">

                <form id="order_form" style="text-align: center" name="form-2"  method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="">
                        <p style="margin: 0 0 20px 0;" >Планируете заказать на:</p>
                    </div>

                <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                    <label onclick="checkM()" style="font-size: 20px; flex-basis: 100%;" for="type_man">
                         <input style="height: unset; width: unset" id="type_man" checked type="radio"  name="customer_type" value="man"> Частное лицо

                    </label>
                    <label onclick="checkO()" style="font-size: 20px; flex-basis: 100%;" for="type_org">
                        <input style="height: unset; width: unset" id="type_org" type="radio"  name="customer_type" value="org"> Юридическое лицо
                    </label>

                </div>
                    <div id="doc_div" style="display: none">
                        <p style="margin: 0 ;">Прикрепите карточку предприятия</p>
                      <input type="file" name="doc">
                    </div>

                    <input class="name" name="name" id="name" type="text" placeholder="Ваше имя">
                    <input class="tell"  name="email" id="email" type="email" placeholder="Ваша почта">
                    <input class="tell phone-field"  id="phone" required name="phone" type="text" placeholder="Ваш телефон" >
                    <button style=" display: block; background: #2196F3 ; padding: 10px 20px; border-radius: 20px;
                        color: white;text-decoration: none;  width: 250px;
                        margin: 0 auto; margin-bottom: 20px" type="submit"  class=" " >Отправить заявку</button>
                </form>
            </div>
            <div style="display: none" class="slogan">Спасибо, заявка отправлена. Номер заявки <span id="o_number"></span></div>
        {% endif %}
        <div class="block-22">
            <div class="block-22-inside">

                <div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
                <div class="rightblock"></div>

            </div>
        </div>


    </div>

    <script>

        $( document ).ready(function() {
            console.log( "ready!" );

            //a[0].lastElementChild.options[a[0].lastElementChild.selectedIndex].value;
            calc()
        });
        function checkM() {
            console.log('ss')
            document.getElementById('doc_div').style.display = 'none'

        }
         function checkO() {
            document.getElementById('doc_div').style.display = 'block'

        }
        function calc() {
            let totalPrice = 0
            items = document.getElementsByClassName('item')
            for (x of items){
                price = parseInt(x.getElementsByTagName('select')[0].options[x.getElementsByTagName('select')[0].selectedIndex].value)
                console.log(price)
                number = parseInt(x.getElementsByTagName('input')[0].value)
                console.log(number)
                total = x.getElementsByTagName('span')[0]
                total.innerText= price * number
                totalPrice += price * number
            }

            $('#total').text(totalPrice)
        }

         $('#order_form').submit(function(e){
            e.preventDefault();
         $form = $(this)
              all_items = {}
            let data = {};

            items = document.getElementsByClassName('item')
             y=1
             for (x of items){

                temp=[]
                number = parseInt(x.getElementsByTagName('input')[0].value)
                item_volume =x.getElementsByTagName('select')[0].options[x.getElementsByTagName('select')[0].selectedIndex].innerText
                item_name = x.getElementsByTagName('input')[0].dataset.name
                temp.push(item_name,item_volume,number)
                all_items[y] = temp
                y+=1

            }
            var formData = new FormData(this);
            formData.append( 'items', JSON.stringify(all_items))
             console.log(formData)
           $.ajax({
                url: '{% url "order" %}',
                type: 'POST',
                data: formData,
                success: function (response) {

                    console.log(response)
                    document.getElementsByClassName('forma-skidka2')[0].style.display='none'
                    document.getElementsByClassName('slogan')[1].style.display='block'
                    document.getElementById('o_number').innerText = response.order

                },
                cache: false,
                contentType: false,
                processData: false
            });

         })

        function submit() {
            $('#form_phone').css('border-color','#ccc')
              $('#form_name').css('border-color','#ccc')
            all_items = {}
            let data = {};

            items = document.getElementsByClassName('item')
            form_name = $('#form_name').val()
            form_email = $('#form_email').val()
            form_phone = $('#form_phone').val()
            if (form_name && form_phone){
                    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
            y=1
            for (x of items){

                temp=[]
                number = parseInt(x.getElementsByTagName('input')[0].value)
                item_volume =x.getElementsByTagName('select')[0].options[x.getElementsByTagName('select')[0].selectedIndex].innerText
                item_name = x.getElementsByTagName('input')[0].dataset.name
                temp.push(item_name,item_volume,number)
                all_items[y] = temp
                y+=1

            }

            data['csrfmiddlewaretoken'] = csrf_token;
            data['items'] = JSON.stringify(all_items)
            data['form_email'] = form_email;
            data['form_name'] = form_name;
            data['form_phone'] = form_phone;
            console.log(data)
            $.ajax({
                url:'/order/',
                type:'POST',
                data: data,
                cache:true,
                success: function (data) {
                    console.log('OK');
                    console.log(data);
                    document.getElementsByClassName('forma-skidka2')[0].style.display='none'
                    document.getElementsByClassName('slogan')[1].style.display='block'
                    document.getElementById('o_number').innerText = data.order


                },
                error: function () {
                    console.log('ERROR')
                }
            })
            }
            else {
                if (!form_phone){
                     $('#form_phone').css('border-color','red')
                }
                if (!form_name){
                     $('#form_name').css('border-color','red')
                }

            }

        }
    </script>

{% endblock %}