{% extends 'basic.html' %}
{% load static %}
{% load mytags %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}

        <div id="dlya-dezinsekcii" class="block-catalog">
            <div class="block-catalog-inside">

                <h2>{{ cat.name }}</h2>

                {% for item in all_items %}
                     <div class="sredstvo"><img src="{{ item.image.url }}">
                    <div class="sr-text"><span>{{ item.name }}</span>
                        <div id="readmore">
                            {{ item.text1 | safe }}

                            <p><a href="javascript: collapsElement('read_more_{{ item.id }}')" style="text-decoration:none !important;    color: #2196f3;
    border-bottom: 1px solid #2196f3;">Подробнее</a></p>

                            <div id="read_more_{{ item.id }}" style="display: none;">
                                {{ item.text2 | safe }}
                            </div>
                        </div>

                        {{ item.price | prices | safe}}


                        <div data-item_id="{{ item.id }}"  data-item_image="{{ item.image.url }}" data-item_name="{{ item.name }}" onclick="add_to_cart(this)" class="button " style="font-weight: 300;
    font-style: normal;
    cursor: pointer;
    width: 67px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 5px 40px;
    background: #2196F3;
    border: 1px solid #2196F3;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    float: right;
    margin: 0;">Заказать</div><div class="warningeb">Нашли дешевле? Поторгуемся?</div><div onclick="ga('send','event','submint','main_zakaz_tovara'); yaCounter54989140.reachGoal('main_zakaz_tovara'); return true;" class="button modal_btn redmodalv">Получить скидку</div>



                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="container">

        <div class="block-2">
            <div class="block-2-inside" id="katalog">

                <h2>Каталог продукции</h2>

                <div class="catalog">
                    {% for cat in all_cats %}
                        <a href="{% url 'catalog' cat.name_slug %}"><img src="{{ cat.image.url }}"><br>{{ cat.name }}</a>


                    {% endfor %}


                </div>

            </div>
        </div>
    </div>
{% endblock %}