{% extends 'basic.html' %}
{% load static %}
{% load mytags %}
{% block title %}
  {{ pageTitle }}
{% endblock %}
{% block description %}
  {{ pageDescription }}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}

        <div id="dlya-dezinsekcii" class="block-catalog" style="float: none">
            <div class="block-catalog-inside">

                <h2 style="margin-bottom: 60px">{{ h1 }}</h2>

                {% for item in all_items %}

                    <div style="padding-top: 80px; margin-top: -40px;" id="{{ item.name | make_slug }}" class="sredstvo"><img class="sredstvo-img" src="{{ item.image.url }}">
                        <div class="sr-text"><a href="{{ item.get_absolute_url }}" style="text-decoration:none !important;    color: #2196f3;
    border-bottom: 1px solid #2196f3;"><span>{{ item.name }}</span></a>

                        {% if item.add_text %}
                            <p style="margin-bottom: 10px">item.add_text</p>
                        {% endif %}
                            <div id="readmore">
                                {{ item.text1 | safe }}
{#                                <p >Уважаемые клиенты! В связи с постоянно меняющимся курсом валют и удорожанием сырья, цены на сайте могут быть не актуальны.#}
{#                                Действительные цены уточняйте пожалуйста у менеджеров.</p>#}
                                <p><a href="{{ item.get_absolute_url }}" style="text-decoration:none !important;    color: #2196f3;
    border-bottom: 1px solid #2196f3;">Подробнее</a></p>


                            </div>
                            <div   class="item-prices">
                            {% if cat.name_slug == 'discount' %}
                            <p style="display: flex; align-items: center;">Старая цена <span itemprop="price" style="display:block; margin-left: 10px;text-decoration: line-through;color: #828282;">{{ item.new_price}}</span></p>
                                <p style="display: flex; align-items: center;">Цена по акции <span itemprop="price" style="display:block; margin-left: 10px;">{{ item.price}}</span></p>
                            {% else %}
                                 {{ item.price | prices | safe}}
                            {% endif %}
                                <a class="item-card-btn blue return-btn" href="{% url 'catalog' %}">Вернуться в каталог</a>
                                {% if request.user.is_authenticated %}
                                 <a target="_blank" style="top: 50px;" class="item-card-btn red return-btn" href="/admin/item/item/{{ item.id }}/change/">Редактировать товар</a>
                                {% endif %}

                            </div>


                            <div  class="item-card-block">
                                <div data-item_id="{{ item.id }}"  data-item_image="{{ item.image.url }}" data-item_name="{{ item.name }}" onclick="add_to_cart(this)" class="button item-card-btn blue mb-10" >Добавить в заказ</div>
                                {% if count_items_in_cart > 0 %}
                                <a class="item-card-btn green" href="{% url 'cart' %}">Перейти к заказам</a>
                                {% endif %}

                            </div>
                            <div class="warningeb">
{#                                <p><a  href="{% url 'catalog' %}">Вернуться в каталог</a></p>#}
                                {% if not cat.name_slug == 'discount' %}
                                <p>Нашли дешевле? Поторгуемся?</p>

                             <p >Пишите нам на <a href="viber://add?number=79000675472"><b>Viber</b></a> или <a href="https://wa.me/79000675472"><b>WhatsApp</b></a></p>

                            </div><div data-item="{{ item.name }}" onclick="ga('send','event','submint','main_zakaz_tovara'); yaCounter54989140.reachGoal('main_zakaz_tovara'); return true;" class="button modal_btn2 item-card-btn red">Получить скидку</div>
                           {% else %}
                                    <div style="height: 65px;"></div></div>
                            {% endif %}


                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% if cat.description %}
    <div style="text-align: left; font-size: inherit" class="block-catalog-inside">
        {{ cat.description | safe }}
    </div>
    {% endif %}
        <div class="block-22">
            <div class="block-22-inside">

                <div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
                <div class="rightblock"></div>

            </div>
        </div>
    </div>

    <div class="block-2">
        <div class="block-2-inside" id="katalog">

            <h2>Каталог продукции</h2>

            <div class="catalog" style="display: grid; grid-template-columns: repeat(auto-fill,minmax(220px,1fr)); grid-gap: 20px;">
                {% for cat in all_cats %}
                    <a style="width: 100%;height: auto;margin: 0" href="{% url 'catalog_inner' cat.name_slug %}"><img style="margin-bottom: 10px" src="{{ cat.image.url }}"><br>{{ cat.name }}</a>


                {% endfor %}


            </div>

        </div>
    </div>

{% endblock %}