{% extends 'basic.html' %}
{% load static %}
{% load mytags %}
{% block title %}
   Каталог Спецсинтез - продажа профессиональной химии
{% endblock %}
{% block description %}
   СпецСинтез - это профессиональные моющие средства для всех направлений бизнеса.
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}

        <div id="dlya-dezinsekcii" class="block-catalog" style="float: none">
            <div class="block-catalog-inside">

                <h1 style="margin-bottom: 60px">{{ h1 }}</h1>

                {% for item in all_items %}

                    <div style="padding-top: 80px; margin-top: -40px;" id="{{ item.name | make_slug }}" class="sredstvo"><img src="{{ item.image.url }}">
                        <div class="sr-text"><a href="{{ item.get_absolute_url }}" style="text-decoration:none !important;    color: #2196f3;
    border-bottom: 1px solid #2196f3;"><span>{{ item.name }}</span></a>
                            <p style=" font-size: 13px; color: #f01420; border: 1px solid red; padding: 10px;">Уважаемые клиенты! В связи с постоянно меняющимся курсом валют и удорожанием сырья, цены на сайте могут быть не актуальны.
                                Действительные цены уточняйте пожалуйста у менеджеров.</p>
                            <div id="readmore">
                                {{ item.text1 | safe }}

                                <p><a href="{{ item.get_absolute_url }}" style="text-decoration:none !important;    color: #2196f3;
    border-bottom: 1px solid #2196f3;">Подробнее</a></p>


                            </div>
                            <div style="position: relative; margin-bottom: 30px" class="">
                               {{ item.price | prices | safe}}
                                <a class="item-card-btn blue return-btn" href="{% url 'catalog' %}">Вернуться в каталог</a>

                            </div>


                            <div  class="item-card-block">
                                <div data-item_id="{{ item.id }}"  data-item_image="{{ item.image.url }}" data-item_name="{{ item.name }}" onclick="add_to_cart(this)" class="button item-card-btn blue mb-10" >Добавить в заказ</div>
                                <a class="item-card-btn green" href="{% url 'cart' %}">Перейти к заказам</a>
                            </div>
                            <div class="warningeb">
{#                                <p><a  href="{% url 'catalog' %}">Вернуться в каталог</a></p>#}
                                <p>Нашли дешевле? Поторгуемся?</p>
                             <p >Пишите нам на <a href="viber://add?number=79000675472">viber</a> или <a href="https://wa.me/79000675472">whatsapp</a></p>
                            </div><div data-item="{{ item.name }}" onclick="ga('send','event','submint','main_zakaz_tovara'); yaCounter54989140.reachGoal('main_zakaz_tovara'); return true;" class="button modal_btn2 item-card-btn red">Получить скидку</div>



                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% if cat.description %}
    <div style="text-align: left; font-size: inherit" class="block-catalog-inside">
        {{ cat.description | safe }}
    </div>
    {% endif %}
        <div class="block-22">
            <div class="block-22-inside">

                <div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
                <div class="rightblock"></div>

            </div>
        </div>
    </div>

    <div class="block-2">
        <div class="block-2-inside" id="katalog">

            <h2>Каталог продукции</h2>

            <div class="catalog" style="display: grid; grid-template-columns: repeat(auto-fill,minmax(220px,1fr)); grid-gap: 20px;">
                {% for cat in all_cats %}
                    <a style="width: 100%;height: auto;margin: 0" href="{% url 'catalog_inner' cat.name_slug %}"><img style="margin-bottom: 10px" src="{{ cat.image.url }}"><br>{{ cat.name }}</a>


                {% endfor %}


            </div>

        </div>
    </div>

{% endblock %}