{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {% if title %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if description %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block keywords %}
    {% if keywords %}
    {{ title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
 <div id="kak-zakazat-i-pochit" class="block-6">
            <div class="block-6-inside">
                <h2>Как заказать и получить?</h2>

                <div class="howtake">
                    <div style="height: 445px;" class="how1"><img src="{% static 'img/h1.png' %}"><br><span>1. Заказ</span><br>Отправьте нам заказ, и менеджер свяжется с Вами для обсуждения деталей заказа в течении 20 минут. Вы так же можете получить профессиональную консультацию по подбору средств под Ваши задачи</div>
                    <div style="height: 445px;" class="how1"><img src="{% static 'img/h2.png' %}"><br><span>2. Оплата</span><br>Мы принимаем оплату от юридических и физических лиц на расчетный счет организации, наличными или банковской картой при получении товара (в пунктах выдачи заказов СДЕК по всей России). Для взаиморасчетов с юридическими лицами, перед отправкой счета, мы заключаем договор поставки. Для этого в разделе "заказы", перед отправкой, прикрепите пожалуйста свои реквизиты.</div>
                    <div style="height: 445px;" class="how1"><img src="{% static 'img/h3.png' %}"><br><span>3. Доставка</span><br>Осуществляем доставку по всей России курьерской службой СДЭК, либо транспортными компаниями: ТК GTD, Деловые линии, ПЭК, либо транспортной компанией на ваш выбор.
<br>
                        <br>Стоимость доставки составляет: от 150 руб, точная стоимость рассчитывается индивидуально и зависит от объема и веса заказываемой Вами продукции. Оставьте заявку на расчет стоимости доставки по номеру: 8 800 777 26 47 (Звонки для регионов России бесплатные)</div>
                    <div style="height: 445px;" class="how1"><img src="{% static 'img/h4.png' %}"><br><span>4. Получение</span><br>Для получения заказа Вам необходимо:<br><br>
                        Для юридических лиц:<br> доверенность на получение товарно-материальных ценностей и документ, удостоверяющий личность, либо печать предприятия, с приказом о назначении Директора предприятия.<br><br>
                        Для физических лиц:<br> паспорт либо водительское удостоверение.
                        <br>
                        <br>
                        Время работы транспортных компаний или курьерской службы уточняйте пожалуйста у менеджеров по телефону: 8 800 777 26 47 (Звонок по России бесплатный)
                    </div>


                </div>

            </div>
        </div>
    <div style="margin: 0" class="block-22">
	<div class="block-22-inside">

	<div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
	<div class="rightblock"></div>

	</div>

</div>
    </div>

    <p style="text-align: center">Информация на сайте не является публичной офертой.</p>
      <p style="text-align: center">Уважаемые клиенты! В связи с постоянно меняющимся курсом валют и удорожанием сырья, цены на сайте могут быть не актуальны. Действительные цены уточняйте пожалуйста у менеджеров.</p>


    <p style="text-align: center">Обращаем ваше внимание на то, что данный интернет-сайт, а также вся информация о товарах и ценах, предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.</p>
    <p style="text-align: center">Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджеру сайта с помощью специальной формы связи или по телефону 8-800-777-26-47.</p>


{% endblock %}