{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
<div id="kak-rabotaet-himiya" class="block-5">
	<div class="block-5-inside">
		<h2>Посмотрите, как работает наш продукт</h2>

		<div class="vid"><div class="name">Мойка посуды</div><!--iframe width="560" height="315" src="https://www.youtube.com/embed/f0lfdJyOAys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
		<div class="youtube" id="f0lfdJyOAys" style="width: 100%; height: 270px;"></div></div>

		<div class="vid"><div class="name">Удаление жира и нагара</div><!--iframe width="560" height="315" src="https://www.youtube.com/embed/e_h_4l47jNs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
		<div class="youtube" id="e_h_4l47jNs" style="width: 100%; height: 270px;"></div></div>
		<div class="vid"><div class="name">Мойка жирного пола</div><!--iframe width="560" height="315" src="https://www.youtube.com/embed/5yyykra9xxA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
		<div class="youtube" id="5yyykra9xxA" style="width: 100%; height: 270px;"></div></div>




	</div>
</div>

<div class="block-skidka">
	<div class="block-skidka-inside">

	Отправьте заявку<br> и получите <span>скидку до 40%</span> на пробный заказ

	</div>


	<div class="forma-skidka">
				<form name="form-2">
			<input class="name" name="name" type="text" placeholder="Имя">
			<input class="tell"  name="tell" type="text" placeholder="+7 (   )   -  -  ">
			<input onclick="ga('send','event','submint','main_otr_zayavka'); yaCounter54989140.reachGoal('main_otr_zayavka'); return true;" class="feedback feedback3" name="send" type="button" value="Отправить запрос">
			</form>
		</div>

</div>
    </div>
{% endblock %}%}