{% extends 'basic.html' %}
{% load static %}
{% load mytags %}
{% block title %}
    Спецсинтез {{ item.name }} - купить в интернет-магазине недорого
{% endblock %}
{% block description %}
    В нашем интернет магазине Вы можете купить Спецсинтез {{ item.name }} по низкой цене , с доставкой по России!
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}

        <div id="dlya-dezinsekcii" class="block-catalog" style="float: none">
            <div class="block-catalog-inside">

                <h2 style="margin-bottom: 60px">{{ cat.name }}</h2>
                 {% if request.user.is_authenticated %}
                                 <a target="_blank" style="top: 50px;" class="item-card-btn red return-btn" href="/admin/item/item/{{ item.id }}/change/">Редактировать товар</a>
                                {% endif %}

                <div itemscope itemtype="http://schema.org/Product">
                    <div style="padding-top: 80px; margin-top: -40px;" id="{{ item.name | make_slug }}" class="sredstvo"><img itemprop="image" class="sredstvo-img" src="{{ item.image.url }}" alt="{{ item.name }}">
                        <div itemprop="name" class="sr-text"><h2 style="font-size: 25px;">{{ item.name }}</h2>
                            <p style=" font-size: 13px; color: #f01420; border: 1px solid red; padding: 10px;">Уважаемые клиенты! В связи с постоянно меняющимся курсом валют и удорожанием сырья, цены на сайте могут быть не актуальны.
                                Действительные цены уточняйте пожалуйста у менеджеров.</p>
                         {% if item.add_text %}
                            <p style="margin-bottom: 10px">item.add_text</p>
                        {% endif %}
                            <div itemprop="description" id="readmore">
                                {{ item.text1 | safe }}


                                <div >
                                    {{ item.text2 | safe }}
                                </div>
                            </div>

                              <div   class="item-prices">
                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    {% if item.new_price != '0' %}
                            <p style="display: flex; align-items: center;">Старая цена <span itemprop="price" style="display:block; margin-left: 10px;text-decoration: line-through;color: #828282;">{{ item.new_price}}</span></p>
                                <p style="display: flex; align-items: center;">Цена по акции <span itemprop="price" style="display:block; margin-left: 10px;">{{ item.price}}</span></p>
                            {% else %}
                                 {{ item.price | prices | safe}}
                            {% endif %}
                                    <meta itemprop="priceCurrency" content="RUB">
                                   </div>
                                <a class="item-card-btn blue return-btn" href="{{ request.META.HTTP_REFERER }}">Вернуться в каталог</a>
                            </div>

                            <div  class="item-card-block">
                                {% if item.doc %}
                                    <div style="margin-bottom: 20px">
                                    <h2 style="margin-bottom: 10px"> Инструкция по применению {{ item.name }}</h2>
                                    <a href="{{ item.doc.url }}">Скачать инструкцию по применению {{ item.name }}</a>
                                    </div>

                                {% endif %}
                                <div data-item_id="{{ item.id }}"  data-item_image="{{ item.image.url }}" data-item_name="{{ item.name }}" onclick="add_to_cart(this)" class="button item-card-btn blue mb-10" >Добавить в заказ</div>
                                <a class="item-card-btn green" href="{% url 'cart' %}">Перейти к заказам</a>
                            </div>
                            <div class="warningeb">
{#                                <p><a  href="{{ request.META.HTTP_REFERER }}">Вернуться в каталог</a></p>#}
                                 {% if not item.new_price != '0' %}
                                <p>Нашли дешевле? Поторгуемся?</p>
                             <p >Пишите нам на <a href="viber://add?number=79000675472"><b>Viber</b></a> или <a href="https://wa.me/79000675472"><b>WhatsApp</b></a></p>

                            </div><div  data-item="{{ item.name }}" onclick="ga('send','event','submint','main_zakaz_tovara'); yaCounter54989140.reachGoal('main_zakaz_tovara'); return true;" class="button modal_btn2 item-card-btn red">Получить скидку</div>
                             {% endif %}
                            {% if request.user.is_staff %}
                            <a href="/admin/item/item/{{ item.id }}/change/">редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-22">
            <div class="block-22-inside">

                <div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
                <div class="rightblock"></div>

            </div>
        </div>
    </div>

    <div class="block-2">
        <div class="block-2-inside" id="katalog">

            <h2>Каталог продукции</h2>

            <div class="catalog" style="display: grid; grid-template-columns: repeat(auto-fill,minmax(220px,1fr)); grid-gap: 20px;">
                {% for cat in all_cats %}
                    <a style="width: 100%;height: auto;margin: 0" href="{% url 'catalog_inner' cat.name_slug %}"><img style="margin-bottom: 10px" src="{{ cat.image.url }}"><br>{{ cat.name }}</a>


                {% endfor %}


            </div>

        </div>
    </div>

{% endblock %}