{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
        <div id="kak-zakazat-i-pochit" class="block-6">
            <div class="block-6-inside">
                <h2>Как заказать и получить?</h2>

                <div class="howtake">
                    <div class="how1"><img src="{% static 'img/h1.png' %}"><br><span>1. Заявка</span><br>Отправьте нам заявку, и менеджер свяжется с Вами для обсуждения деталей заказа</div>
                    <div class="how1"><img src="{% static 'img/h2.png' %}"><br><span>2. Оплата</span><br>Мы работаем как с юридическими, так и с физическими лицами. Принимаем оплату на расчетный счет, наличными или банковской картой.</div>
                    <div class="how1"><img src="{% static 'img/h3.png' %}"><br><span>3. Доставка</span><br>Осуществляем доставку по всей России курьерской службой СДЭК, либо транспортными компаниями. Стоимость доставки рассчитывается индивидуально.</div>
                    <div class="how1"><img src="{% static 'img/h4.png' %}"><br><span>4. Получение</span><br>Для получения заказа необходимо:<br>
                        Для юридических лиц: доверенность, либо печать предприятия.<br>
                        Для физических лиц: пасспорт либо водительское удостоверение.
                    </div>


                </div>

            </div>
        </div>

    </div>
{% endblock %}