{% extends 'basic.html' %}
{% load static %}
{% block title %}
   Отзывы о нашей компании
{% endblock %}
{% block description %}
   Благодарственные письма, видеоотзывы о нашей работе с клиентами из разных направлений.
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'header_inner.html' %}
        <div id="otzyvy" class="block-9">
            <div class="block-9-inside">

                <h2>Отзывы наших клиентов</h2>
                <div class="vid">
                    <div class="name">Ресторан La Boucherie</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/GCeOuONapPc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="GCeOuONapPc" style="width: 100%; height: 270px;"></div>
                </div>

                <div class="vid">
                    <div class="name">База отдыха "Монтажник"</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/jXClwECdJWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="jXClwECdJWo" style="width: 100%; height: 270px;"></div>
                </div>

                <div class="vid">
                    <div class="name">Пиццерия Pizza Makers</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/1e_WV847Yus" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="1e_WV847Yus" style="width: 100%; height: 270px;"></div>
                </div>

                <div class="vid">
                    <div class="name">Ресторан Maximilians</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/fB47pfRkVkQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="fB47pfRkVkQ" style="width: 100%; height: 270px;"></div>
                </div>

                <div class="vid">
                    <div class="name">Кафе Кунжут</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/jXClwECdJWo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="jXClwECdJWo" style="width: 100%; height: 270px;"></div>
                </div>

                <div class="vid"
                ><div class="name">Spa-Hotel Garnet</div>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/6_90G7NuxAA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe-->
                    <div class="youtube" id="6_90G7NuxAA" style="width: 100%; height: 270px;"></div>
                </div>


            </div>
        </div>
        <div class="block-8">
            <div class="block-8-inside">


                <div class="otzyv-nash">
                    <div class="image">
                        <a data-fancybox="gallery" href="{% static 'img/ot/otzyv2.jpg' %}"><img src="{% static 'img/ot/otzyv2_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata">
                        <span>ЗАО племенной завод "Рабитицы"</span><br>
                        Для промывки молокопроводов в своей работе мы используем СИП-БЛЮ 5 и СИП-РЕД 4
                    </div>
                </div>





                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/ashan.jpg' %}"><img src="{% static 'img/ot/ashan_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Ашан</span><br>В наших магазинах успешно используется вся линейка средств: 3Д Клин, Триосепт Микс П, Спец-Актив Д, Смарт-Профи, Шайн-Микс. Очень нравится эффективность средств и высокая экономия.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/myasoproduct.jpg' %}"><img src="{% static 'img/ot/myasoproduct_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>ОАО Мясопродукты</span><br>С 2008 года работаем на средстве Триосепт Микс П, абсолютно устраивает по всем характеристикам.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/petrovskyu.jpg' %}"><img src="{% static 'img/ot/petrovskyu_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Петровские деликатесы</span><br>Коптильные камеры чистим только средством Антей Пена Плюс так как оно почти не имеет запаха, не нужно работать в масках, удаляет нагар и жир прекрасно. А с Триосептом-Микс проходим любые проверки, отличное средство для дезинфекции.</div>
                </div>



                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/pkf-bazis.jpg' %}"><img src="{% static 'img/ot/pkf-bazis_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>ПКФ Базис</span><br>Сразу после тестирования средств 3Д-Клин и Спец-Актив Д работаем только на них. Очень нравятся, нареканий нет.</div>
                </div>

                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/otzyv1.png' %}"><img src="{% static 'img/ot/otzyv1_pre.png' %}"></a>
                    </div>
                    <div class="cicata"><span>Пиццерия "Додо Пицца"</span><br>В своей работе мы используем Клин-Оксайд, Триосепт-Аква, Антей Пена Плюс, Смарт-Профи</div>

                </div>



                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/otzyv4.png' %}"><img src="{% static 'img/ot/otzyv4_pre.png' %}"></a>
                    </div>
                    <div class="cicata"><span>Пиццерия "Pizza Makers"</span><br>В своей работе используем средства: Триосепт-Экспресс, Антей Пена Плюс, ХозЛюкс, Смарт Профи.</div>

                </div>



                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/rostiks1.jpg' %}"><img src="{% static 'img/ot/rostiks1_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Ростикс KFC</span><br>На нашем предприятии активно используются средства: Антей Пена Плюс, Триосепт Микс П, Шайн-Микс и 3Д-Клин.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/rostinger1.jpg' %}"><img src="{% static 'img/ot/rostiks1_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Ростик Ресторантс</span><br>Наши посудомоечные машины мы заправляем только средствами Лайт-Блеск К и Лайт-Автомат. Такой расход и качество мойки мы смогли найти только в этих средствах.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/vrestoran.jpg' %}"><img src="{% static 'img/ot/vrestoran_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Восточный ресторан</span><br>У нас посуда постоянно жирная из-за специфики ресторана, поэтому ХозЛюкс наше спасение, а Антей Пена Плюс это вообще какое то уникальное средство, почти не пахнет и классно нагар удаляет.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/gustorestoran.jpg' %}"><img src="{% static 'img/ot/gustorestoran_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Иль Густо ресторан</span><br>Оценили качество работы средств СпецСинтез - порадовало качество, теперь планируем работать на данной марке химии.</div>
                </div>


                <div class="otzyv-nash">
                    <div class="image"><a data-fancybox="gallery" href="{% static 'img/ot/stolovyzal.jpg' %}"><img src="{% static 'img/ot/stolovyzal_pre.jpg' %}"></a>
                    </div>
                    <div class="cicata"><span>Столовый зал</span><br>В восторге от ХозЛюкса, так как у нас постоянные перебои с горячей водой, а ХозЛюкс отлично жир с посуды отмывает даже в холодной воде и что еще приятно, у наших мойщиц нет аллергии на средство.</div>
                </div>

            </div>
        </div>
    <div class="block-22">
	<div class="block-22-inside">

	<div class="leftblock">Закажите консультацию и узнайте,<br>сколько сможете экономить уже сейчас?<div class="button modal_btn3" onclick="ga('send','event','submint','main_zakaz_consult'); yaCounter54989140.reachGoal('main_zakaz_consult'); return true;">Заказать консультацию</div></div>
	<div class="rightblock"></div>

	</div>
</div>
    </div>
{% endblock %}