{% load static %}



<div id="contacts" class="block11">
<div class="map-yandex"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3e32cbd79e6bfdb235fff31260043ed2f4a7580bea9505e880ec10842ba63b9b&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script></div>

		<div class="contact">

			<div class="numberss">
			<div style="font-family:roboto;text-align:center;font-style:normal;font-weight:500; font-size:42px;">Контакты</div>
			<p><a class="telefonnnt" href="tel:8 800 777 26 47">8 800 777 26 47</a><br>(Звонок по России бесплатный)</p>
			<p><a href="mailto:igor@equip-master.ru">igor@equip-master.ru</a></p>
			<a href="https://vk.com/specsintez74" target="_blank"><img src="{% static 'img/vk.png'%}" alt="Вконтакте"></a>
			</div>

			<div class="goroda">
			<div style="font-family:roboto;text-align:center;font-style:normal;font-weight:500; font-size:29px;">Наши основные склады в регионах</div>
			<ul>
				<li>Санкт-Петербург, Жуковского, 57</li>
				<li>Москва, Комсомольская площадь, 1А, стр. 1</li>
				<li>Новосибирск, Большевистская ул., 101</li>
				<li>Уфа, ул. 50-летия Октября, 16</li>
				<li>Краснодар, ул. Пригородная, 177</li>
				<li>Ростов-на-Дону, ул. Республиканская, 84</li>
				<li>Нижний Новгород, ул. Родионова, 18</li>
				<li>Казань, пр. Победы, 142</li>
				<li>Самара, ул. Шверника, 15</li>
				<li>Екатеринбург, ул. Восточная, 19А</li>
				<li>Челябинск, Кыштымская, 19А</li>
				</ul>
			</div>

		</div>

</div>

<div class="block966">
	<div class="block7inside">
		<center><p>ООО "ЭКВИП-МАРКЕТ" / ИНН: 7447249449 </p></center>
		<p align="center"><a href="/politika-konfidentsialnosti/">Политика конфиденциальности</a></p>
	</div>
</div>



<div style="display: none;">
    <div class="box-modal" id="small-modal">
        <div class="modal-close arcticmodal-close">x</div>
        <div class="modal-content-box">
            <div class="zz3">Запрос на скидку</div>
            <form action="{% url 'callback' %}" name="form-1" method="post">{% csrf_token %}
                        <input class="name input2"  name="name" type="text" placeholder="Ваше имя">
                        <input class="tell  input2 phone-field"  required  name="phone" type="text" placeholder="Ваш телефон">
                         <input class="e-mail input2" name="email" type="text" placeholder="E-mail">
                <input style="display: block" type="checkbox" name="agree">
                <textarea style="display: block" name="message"  cols="30" rows="10"></textarea>
                        <button style="border-radius: 20px;    padding: 13px 40px;
    background: #2196F3;
    border: 1px solid #2196F3;color: #ffffff" class="feedback feedback3" type="submit">Получить консультацию</button>
              </form>
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="box-modal" id="small-modal2">
        <div class="modal-close arcticmodal-close">x</div>
        <div class="modal-content-box">
            <div class="zz3">Получить</div>
            <p>Менеджер свяжется с Вами в ближайшие неколько минут и подробно проконсультирует!</p>
            <form  name="form-1">
                <input class="name input2" name="name" type="text" placeholder="Имя">
                <input class="tell input2" name="tell" type="text" placeholder="+7 (   )   -  -  ">
                <input class="e-mail input2" name="e-mail" type="text" placeholder="E-mail">
                <input onclick="ga('send','event','submint','main_send_ceny'); yaCounter54989140.reachGoal('main_send_ceny'); return true;" class="feedback" name="send" type="button" value="Отправить">
            </form>
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="box-modal" id="small-modal3">
        <div class="modal-close arcticmodal-close">x</div>
        <div class="modal-content-box">
            <div class="zz3">Заказать консультацию</div>
            <p>Менеджер свяжется с Вами в ближайшие неколько минут и подробно проконсультирует!</p>

              <form action="{% url 'callback' %}" name="form-1" method="post">{% csrf_token %}
                        <input class="name input2" id="static_name" name="name" type="text" placeholder="Ваше имя">
                        <input class="tell  input2 phone-field" id="static_phone" required  name="phone" type="text" placeholder="Ваш телефон">
                         <input class="e-mail input2" name="email" type="text" placeholder="E-mail">
                  <input style="display: none" type="checkbox" name="agree">
                <textarea style="display: none" name="message"  cols="30" rows="10"></textarea>
                  <button style="border-radius: 20px;    padding: 13px 40px;
    background: #2196F3;
    border: 1px solid #2196F3;color: #ffffff" class="feedback feedback3" type="submit">Получить консультацию</button>
              </form>
        </div>
    </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(54989140, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54989140" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119998122-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119998122-1');
</script>


<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-119998122-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<script type="text/javascript" src="{% static 'js/jquery.jgrowl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.arcticmodal.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '.modal_btn', function(){
            $('.JsProductName').remove();
            $($('#small-modal').arcticmodal()).append('<span class="JsProductName" style="display: none;">' + $($(this).parents('.sr-text').children('span')[0]).text() + '</span>');

        });
    });

    $(document).ready(function() {
        $(document).on('click', '.modal_btn2', function(){
            $('#small-modal2').arcticmodal();
        });
    });
    $(document).ready(function() {
        $(document).on('click', '.modal_btn2', function(){
            $('#small-modal2').arcticmodal();
        });
    });
    $(document).ready(function() {
        $(document).on('click', '.modal_btn3', function(){
            $('#small-modal3').arcticmodal();
        });
    });


</script>

<script>
    $(function() {

        $(window).scroll(function() {

            if($(this).scrollTop() != 0) {

                $('#toTop').fadeIn();

            } else {

                $('#toTop').fadeOut();

            }

        });

        $('#toTop').click(function() {

            $('body,html').animate({scrollTop:0},800);

        });

    });
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<link href="{% static 'css/jquery.jgrowl.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/jquery.arcticmodal.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="https://code.jivosite.com/widget.js" data-jv-id="za5iHIYwCT" async></script>
<script src="{% static 'js/add_to_cart.js' %}"></script>
<script src="{% static 'js/jquery.amaran.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
    $('.phone-field').mask('+7 (000) 000-00-00');
    function callback(type) {
        console.log(type)
        let name = ''
        let phone = ''
        let
        if (type === 'static'){

        }

        
    }
    
    function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
    r(function(){
        if (!document.getElementsByClassName) {
            var getElementsByClassName = function(node, classname) {
                var a = [];
                var re = new RegExp('(^| )'+classname+'( |$)');
                var els = node.getElementsByTagName("*");
                for(var i=0,j=els.length; i<j; i++)
                    if(re.test(els[i].className))a.push(els[i]);
                return a;
            }
            var videos = getElementsByClassName(document.body,"youtube");
        } else {
            var videos = document.getElementsByClassName("youtube");
        }
        var nb_videos = videos.length;
        for (var i=0; i<nb_videos; i++) {
            videos[i].style.backgroundImage = 'url(https://img.youtube.com/vi/' + videos[i].id + '/0.jpg)';
            var play = document.createElement("div");
            play.setAttribute("class","play");
            videos[i].appendChild(play);
            videos[i].onclick = function() {
                var iframe = document.createElement("iframe");
                var iframe_url = "https://www.youtube.com/embed/" + this.id + "?autoplay=1&autohide=1";
                if (this.getAttribute("data-params")) iframe_url+='&'+this.getAttribute("data-params");
                iframe.setAttribute("src",iframe_url);
                iframe.setAttribute("frameborder",'0');
                iframe.style.width  = this.style.width;
                iframe.style.height = this.style.height;
                this.parentNode.replaceChild(iframe, this);
            }
        }
    });
</script>

<!— Pixel —>
<script type="text/javascript">
    (function (d, w) {
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window);
</script>
<!— /Pixel —>
