{% load static %}
<DIV ID="toTop"> <img src="{% static 'img/top.png' %}"> </DIV>
<div class="header">
<a href="/"><img src="{% static 'img/Logo.png' %}" alt="СпецСинтез" class="logo"></a>

<div class="sredstva"><img src="{% static 'img/specsintez_horeca.png' %}"></div>

	<div class="right-contacts">
		<a href="tel: 88007772647"> 8 800 777 26 47</a><br>(Звонок по России бесплатный)


    </div>


		<div class="top-menu-horeca">
		<ul>
			<li><a class="{{ about_active }}" href="{% url 'about_us' %}">Почему мы?</a></li>
			<li><a class="{{ reviews_active }}" href="{% url 'reviews' %}">Отзывы</a></li>
            <li><a class="{{ catalog_active }}" href="{% url 'catalog' %}">Каталог</a></li>
            <li ><a class="{{ cart_active }}" href="{% url 'cart' %}"> Заказы <span id="cart_count" style="    background: #8da82e;
    padding: 5px 10px;
    border-radius: 50%;">{{ count_items_in_cart }}</span> </a></li>
		    <li class="noborder search-wrapper" > <input class="search-input" type="text" placeholder="Поиск" onkeyup="search(this)">
                 <div id="search-result" class="search-result">
                </div>

            </li>
        </ul>

	</div>

	<div class="slogan">ПРОФЕССИОНАЛЬНЫЕ МОЮЩИЕ И ДЕЗИНФИЦИРУЮЩИЕ СРЕДСТВА ДЛЯ ПРЕДПРИЯТИЙ<br>
        <h1 style="margin: 0;
    font-size: 21px;
    text-transform: uppercase;">Продукция Спецсинтез </h1></div>
     {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}  <div style="margin-bottom: 10px;
    color: green;
    text-align: center;
    margin-top: 10px;
    border: 2px dotted;
    padding: 20px 0;">{% endif %} <strong> {{ message }}</strong>    </div>
                    {% endfor %}
                {% endif %}

</div>